/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

button:not[disabled], summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--clr-background: #171819;
	--clr-backgroundlight: rgba(23, 24, 25, .8);
	--clr-headers: #d6d6f1;
	--clr-primaryfont: #4298b0;
}




body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-image: url(../Images/background_hexagon.png);
  background-repeat: no-repeat;
  background-size: cover;
}



/* navbar */

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* border: 1em solid var(--clr-background); */
	height: 12vh;
	align-items: center;
	background-color: var(--clr-backgroundlight);
	padding: 1.5em;
}

nav h1 {
	color: var(--clr-primaryfont);
}

nav input {
	background-color: transparent;
	border: none;
	border-top: none;
	border-bottom: 0.1em solid var(--clr-headers);
	padding: 0.25em;
	width: 25%;
	color: var(--clr-headers);
}

h1 {
	color: white;
}