/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

button:not[disabled], summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--clr-background: #171819;
	--clr-headers: #d6d6f1;
	--clr-primaryfont: #4298b0;
}




body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-color:var(--clr-background);
}



/* navbar */

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* border: 1em solid var(--clr-background); */
	height: 10vh;
	align-items: center;
}

nav h1 {
	color: var(--clr-primaryfont);
}

nav input {
	background-color: var(--clr-headers);
	border: none;
	padding: 0.25em;
	width: 25%;
	border-radius: 0.5em;
}

